[Unit]
Requires=multi-user.target
Description=Distribution Installer

[Service]
Type=dbus
BusName=com.system76.Distinst
ExecStart=/usr/bin/com.system76.Distinst
Restart=on-failure

[Install]
WantedBy=multi-user.target